name: Publish Documentation

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check-style:
    name: Publish Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"

      - name: Copy dependencies
        run: mvn dependency:copy-dependencies

      - name: Delombok
        run: |
          LOMBOK_VERSION=$(mvn help:evaluate -Dexpression=org.projectlombok.version -q -DforceStdout)
          java -jar ./target/dependency/lombok-$LOMBOK_VERSION.jar delombok src -d src-delomboked
          mv src src-lomboked
          mv src-delomboked src

      - name: Run javadoc
        run: |
          mvn javadoc:javadoc

      - name: Move folder
        run: |
          mkdir ./target/site 2> /dev/null
          mv ./target/reports/apidocs ./target/site

      - name: Check documentation
        run: |
          if [ ! -f ./target/site/apidocs/index.html ]; then
            echo "Documentation not generated properly"
            exit 1
          fi

      - name: Copy Code Samples
        run: |
          mkdir -p ./target/site/apidocs
          cp -r ./docs/code_samples ./target/site/apidocs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/apidocs
