name: Check Style

on:
  workflow_call:

jobs:
  check-style:
    name: Check Code Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"

      - name: Check Code Style
        run: mvn --update-snapshots --no-transfer-progress checkstyle:check
