name: Tests

on:
  - push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version:
          - "11"
          - "8"
        distribution:
          - "temurin"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: ${{ matrix.distribution }}
          cache: "maven"

      - name: Verify with Maven
        run: mvn --update-snapshots --no-transfer-progress verify
