name: Publish Documentation

on:
  release:
    types: [ published ]

  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check-style:
    name: Publish Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"

      - name: Copy dependencies
        run: mvn dependency:copy-dependencies

      - name: Delombok
        run: |
          mvn lombok:delombok

      - name: Build Javadocs
        run: mvn --update-snapshots --no-transfer-progress javadoc:javadoc

      - name: Copy Code Samples
        run: |
          mkdir -p ./target/site/apidocs
          cp -r ./docs/code_samples ./target/site/apidocs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/apidocs
