name: Push Main Branch

on:
  push:
    branches:
      - main

jobs:
  static_analysis:
    uses: mindee/mindee-api-java/.github/workflows/_static-analysis.yml@main
  build:
    uses: mindee/mindee-api-java/.github/workflows/_build.yml@main
    needs: static_analysis
    secrets: inherit
  tag:
    uses: mindee/client-lib-actions/.github/workflows/tag-version.yml@main
    needs: build
  release:
    uses: mindee/client-lib-actions/.github/workflows/create-release.yml@main
    needs: tag
    secrets: inherit
